<div class="container-fluid h-100 p-0">
  <div class="d-flex justify-content-center align-items-center h-100">
    <div class="counter">
      <div class="card">
      <div class="card-body bg-dark">
        <h5 class="card-title text-light">{{current_month}}</h5>
        <h6 class="card-subtitle mb-2 d-flex justify-content-between align-items-center">
          <span class="text-muted">{{current_year}}</span>
          <span class="text-white">{{sum}} ₽</span>
        </h6>
        <!--<p class="card-text"></p>-->
      </div>
      <ul class="list-group list-group-flush">
        <li *ngFor="let record of records" class="list-group-item d-flex justify-content-between align-items-center">
          {{record.name}}
          <span class="badge badge-primary badge-pill">{{record.coast}} ₽</span>
        </li>
      </ul>
    </div>
      <div class="d-flex justify-content-between">
        <a href="/records-list" class="btn btn-link btn-sm">All records</a>
        <button class="btn btn-link btn-sm">Another month</button>
      </div>
    </div>
  </div>
</div>