<div class="container-fluid h-100 p-0">
  <div class="d-flex justify-content-center align-items-center h-100">
    <div class="records-list">
      <div class="card">
        <div class="card-body bg-dark">
          <h4 class="card-title text-light m-0">Record's list</h4>
        </div>
        <table class="table m-0">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Date</th>
            <th scope="col">Period</th>
            <th scope="col">Coast</th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let record of records; let i = index">
            <th class="align-middle" scope="row">{{i + 1}}</th>
            <td class="align-middle">{{record.name}}</td>
            <td class="align-middle">{{record.date}}</td>
            <td class="align-middle">{{record.period}}</td>
            <td class="align-middle">{{record.coast}}</td>
            <td class="align-middle">
              <button class="btn btn-link text-danger btn-sm">
                <fa-icon [icon]="faTrash" (click)="deleteRecord(record.id)"></fa-icon>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="d-flex justify-content-between">
        <a href="/" class="btn btn-link btn-sm">Home</a>
        <a href="/add-record" class="btn btn-link btn-sm">Add new record +</a>
      </div>
    </div>
  </div>
</div>